{% extends 'base.html.twig' %}

{% block body %}

        <table class="table" style="margin-top: 5%;">
            <thead id="cabecera">
                <tr>
                    <th>Precio</th>
                    <th>Tamaño</th>
                    <th>Fotografía</th>
                    <th>Descripción</th>
                    <th>Existencias</th>
                </tr>
            </thead>
            <tbody>
            {% for producto in productos %}
                <tr>
                    <td>{{ producto.precio }} <spam>€</spam></td>
                    <td>{{ producto.tamanio }}</td>
                    <td><img src="../../dist/assets/img/tallas/{{ producto.fotografia }}" height="50" width="50"></td>
                    <td>{{ producto.descripcion }}</td>
                    <td>{{ producto.existencias }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7" style="color: red;">No hay tallas disponibles</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
{% endblock %}
