
{% extends "base.html.twig" %}

{% block body %}

<h1 style="text-align: center; margin-top: 5%;">Carrito de compra</h1>

    <table class="table" style="margin-top: 5%;">
        <thead id="cabecera">
            <tr>
                <th>Id</th>
                <th>Precio</th>
                <th>Tamaño</th>
                <th>Fotografía</th>
                <th>Descripción</th>
                <th>Existencias</th>
                <th>Total</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for producto in productos %}
            <tr>
                <td>{{ producto.id }}</td>
                <td>{{ producto.precio }} <span>€</span></td>
                <td>{{ producto.tamanio }}</td>
                <td><img src="../../dist/assets/img/tallas/{{ producto.fotografia }}" height="50" width="50"></td>
                <td>{{ producto.descripcion }}</td>
                <td>{{ producto.existencias }}</td>
                <td>  {{ producto.precio * producto.existencias }} <span>€</span></td>
                <td>
                    {# Los botones deben ELIMINAR un producto del carrito o REDUCIR el nº de existencias que el cliente ha añadido
                    <a href="{{ path('producto_show', {'id': producto.id}) }}" style="margin-right: 20%;">Mostrar</a>
                    <a href="{{ path('producto_edit', {'id': producto.id}) }}">Editar</a>
                    #}
                    <a href="" style="margin-right: 20%;">Reducir cantidad</a>
                    <a href="{{ path('producto_delete', {'id': producto.id}) }}" >Eliminar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7" style="color: red;">El carrito está vacío</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="" style="margin-right: 5%;">Comprar</a>
    <a href="{{ path('logueado') }}">Volver</a>

{% endblock %}
	