{% extends 'base.html.twig' %}

{% block title %}Usuario{% endblock %}

{% block body %}

    <table class="table" style="margin-top: 5%;">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Roles</th>
                <th>Correo</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.nombre }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.correo }}</td>
                <td>
                    <a href="{{ path('user_show', {'id': user.id}) }}" style="margin-right: 20%;">Mostrar</a>
                    <a href="{{ path('user_edit', {'id': user.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7" style="color: red;">No hay resultados</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('user_new') }}">Nuevo usuario</a>
{% endblock %}
